<% content_for :header_tags do %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="/plugin_assets/workflow_diagram/stylesheets/diagram.css">
<% end %>

<h2>Workflow Diagram</h2>

<div id="workflow_diagram">
  <div id="workflow_diagram_menu">
    <label>
      <%= l(:label_filter_plural) %>
      <%= select_tag 'filter_selector', options_for_select(filter_options, :tracker) %>
    </label>
    <%= render partial: 'selector', locals: { id: 'tracker_id', obj: trackers, hidden: true } %>
    <%= render partial: 'selector', locals: { id: 'role_id', obj: roles, hidden: false } %>

    <%= render partial: 'checker', locals: { title: 'ロールの選択', obj: roles, hidden: false } %>
    <%= render partial: 'checker', locals: { title: 'トラッカーの選択', obj: trackers, hidden: true } %>
  </div>
  <div id="sprotty"></div>
</div>

<script src='/plugin_assets/workflow_diagram/javascripts/bundle.js'></script>
